@font-face {
  font-family: "League Spartan";
  src: url("./League_Spartan/static/LeagueSpartan-Regular.ttf") format("tff"),
    url("./League_Spartan/static/LeagueSpartan-Medium.ttf") format("tff");
  font-weight: 700;
  font-style: normal;
}

html {
  min-inline-size: 100%;
}

body {
  min-inline-size: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: sans-serif;
  background-color: hsl(222, 26%, 31%);
  color: hsl(0, 0%, 100%);
  font: League Spartan;
  font-size: 32px;
  font-weight: 700;
  line-block-size: 1.5;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  border: white solid 2rem;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

header {
  text-align: center;
  justify-self: center;
}

main {
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  inline-size: 30rem;
  row-gap: 2rem;
  /* border: hsl(0, 0%, 100%) solid 1px; */
}

#calcHead {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  /* border: hsl(0, 0%, 100%) solid 1px; */
}

#toggle {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  inline-size: 8rem;
  /* border: hsl(0, 0%, 100%) solid 1px; */
}

#calc {
  align-self: center;
  /* border: hsl(0, 0%, 100%) solid 1px; */
}

#selector {
  block-size: 100%;
  /* border: hsl(0, 0%, 100%) solid 1px; */
  align-self: flex-end;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#theme {
  align-self: flex-end;
}

#themeNumbers {
  display: flex;
  justify-content: space-around;
  inline-size: 4.5rem;
}

#themeSelector {
  background-color: hsl(6, 63%, 50%);
  inline-size: 1rem;
  block-size: 1rem;
  border-radius: 50%;
}

#sliderBar {
  inline-size: 4.5rem;
  background-color: hsl(223, 31%, 20%);
  border-radius: 0.5rem;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start; */
}

.sliderStart {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.sliderCenter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.sliderEnd {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

#display {
  /* grid-area: display; */
  /* margin-bottom: 2rem; */
  padding: 1rem;
  block-size: 4rem;
  inline-size: 28rem;
  background-color: hsl(224, 36%, 15%);
  /* border: black solid 1px; */
  color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: center;
  font-size: 2rem;
}

#calculator {
  display: grid;
  grid:
    "seven eight nine del" 3rem
    "four five six plus" 3rem
    "one two three minus" 3rem
    "period zero slash star" 3rem
    "reset reset enter enter" 3rem
    / 5.75rem 5.75rem 5.75rem 5.75rem;
  gap: 1rem;
  inline-size: 28rem;
  justify-content: center;
  /* border: hsl(0, 0%, 100%) solid 1px; */
  background-color: hsl(223, 31%, 20%);
  padding: 1rem;
  border-radius: 1rem;
}

.calcKey {
  /* border: black solid 5px; */
  background-color: hsl(0, 0%, 100%);
  color: hsl(221, 14%, 31%);
  box-shadow: 0.5rem;
  border-radius: 0.75rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  box-shadow: 0rem 0.125rem hsl(28, 16%, 65%);
}

#del {
  grid-area: del;
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0rem 0.125rem hsl(224, 28%, 35%);
}

#reset {
  grid-area: reset;
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0rem 0.125rem hsl(224, 28%, 35%);
}

#slash {
  grid-area: slash;
}

#star {
  grid-area: star;
}

#minus {
  grid-area: minus;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#plus {
  grid-area: plus;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#enter {
  grid-area: enter;
  color: hsl(0, 0%, 100%);
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0rem 0.125rem hsl(6, 70%, 34%);
}

#zero {
  grid-area: zero;
}

#period {
  grid-area: period;
}

.attribution {
  inline-size: 25rem;
  margin-top: 1rem;
  align-self: center;
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  text-align: center;

  align-items: center;
}

.attribution a {
  color: hsl(0, 0, 100%);
  /* text-decoration: none; */
}
